# API Key de Google Maps (OBLIGATORIA para la funcionalidad de mapas)
GOOGLE_MAPS_API_KEY=tu_api_key_de_google_maps_aqui


# Configuración de CORS
CORS_ORIGINS=https://make.powerapps.com,https://apps.powerapps.com

# Configuración del servidor
HOST=0.0.0.0
PORT=8000 

#api sheet url
API_SHEET_URL = tu_api_key
